<div class="header-container">
  <div>
    <img src="{{'/assets/logo/logo_96px.ico'}}" alt="...">
  </div>
  <div>
    <h3>Home Intech</h3>
    <p>Научи технику думать</p>
  </div>
  <div><h3>Главная</h3></div>
  <div><h3>Технологии</h3></div>
  <div><h3>Услуги</h3></div>
  <div><h3>Портфолио</h3></div>
  <div><h3>Контакты</h3></div>
</div>

<!--
<nav ngbNav #nav="ngbNav" class="nav">
  <ng-container ngbNavItem *ngFor="let item of sections?.getSections()">
    <a ngbNavLink>{{item.text}}</a>
  </ng-container>
</nav>
-->

<router-outlet></router-outlet>
