@import "./styles/colors.scss";
@import "./styles/mixins.scss";

.header {
  @include flex-row-wrap;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2.5vh;
  margin-top: 2.5vh;

  div {
    padding-left: 10px;
    padding-right: 10px;
    color: get-color("color-text");
  }
}

p-menubar {
  margin-left: auto;
  margin-right: 45px;
  align-self: flex-end;
}