<div class="card-container">
  <ng-container
    *ngFor="let item of categories?.getCategories()"
  >
    <app-card
      [text]="item.text"
      [img]="item.img"
    >
    </app-card>
  </ng-container>
</div>

<ngb-carousel #carousel [interval]="5000000" [pauseOnHover]="true">
  <ng-template ngbSlide *ngFor="let img of images?.getPaths(); index as i" class="test-container">
    <div class="carousel-caption">
      <h5>{{images?.getText(i+1)}}</h5>
    </div>
    <img [src]="img" alt="..." class="test">
  </ng-template>
</ngb-carousel>
