@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

img {
  @include image-on-center;
  @include size-of-card(35vh, 25vh);
  border-radius: 5px;
  cursor: pointer;
}

.header-image {
  background-image: url("/assets/banners/mainbanner.jpg");
  background-size: contain;
  width: 100%;
  height: 30vh;
  margin-top: 15px;
}

.header-carousel {
  text-align: center;
}
