@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.card-container {
  @include flex-row-wrap;
  justify-content: space-evenly;
  margin: 10px;
}

ngb-carousel {
  width: 100%;
  margin: auto;

  img {
    object-fit: contain;
    width: 50%;
    height: 30vh;
  }
}

h3 {
  color: get-color("color-text");
  padding-left: 2.5vh;
}

img {
  @include image-on-center;
  height: 35vh;
  width: 35vh;  
}
